@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-pink-200: #faf2f2;
  --color-pink-400: #F8BFBD;
  --color-pink-600: #F08E9A;
  --color-pink-800: #DA5666;
  --color-green-200: #DBEBDF;
  --color-green-400: #458F82;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
